.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: -2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(255, 238, 175, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
  cursor: pointer;
  animation: bounce 2s infinite;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.logoText {
  font-family: 'HYWenHei';
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  display: inline-block;
}

.navItem {
  font-family: 'HYWenHei';
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: transform 0.3s, color 0.3s;
}

.navItem:hover {
  transform: scale(1.1);
  color: #F5CE63;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}