.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #000;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 30%;
  margin-right: 0.5rem;
}

.logoText {
  font-family: 'HYWenHei';
  width: 20%;
  font-size: 1rem;
  font-weight: bold;
}

.navLinks {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'HYWenHei';
}