@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Substitua 'HYWenHei' pela fonte exata, se tiver o arquivo */
@font-face {
  font-family: 'HYWenHei';
  src: url('./assets/fonts/zh-cn.ttf') format('truetype');
  font-weight: bold;
}

/* Defina a cor de fundo AQUI, não no body. 
  Isso garante que ela se estenda pela altura definida no #root. 
*/
.app-container {
    background-color: #FFEEAF; 
    min-height: 100vh;
    /* Não adicione display: flex ou regras de layout aqui! */
}

body {
    /* O body apenas herda as margens zero do index.css */
    font-family: Arial, sans-serif;
    /* NÃO defina a cor de fundo aqui para evitar que ela se sobreponha a estilos mais específicos */
}

.bold-text {
  font-family: 'HYWenHei', Arial, sans-serif;
  font-weight: bold;
}