@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'HYWenHei';
  src: url('./assets/fonts/zh-cn.ttf') format('truetype');
  font-weight: bold;
}

.app-container {
    background-color: #FFEEAF; 
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
}

.bold-text {
  font-family: 'HYWenHei', Arial, sans-serif;
  font-weight: bold;
}